/* Config padrao */

*{
    margin: 0; 
    padding: 0;
}

body {
    background-color: #023059;
    font-family: 'Trebuchet MS';
    
}

.header {
    background-color: #5D7CA6;
    padding: 15px;
    text-align: center;
}

.post p {
    margin: 10px 0;
}

.menu, 
.logo {
    padding: 10px;
}

.menu a, 
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    background-color: #9A94EB;
    color: #EDCEEB;
    padding: 8px 12px;

}

.container {
    background-color: #023059;
    width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

.posts {
    width: 660px;
    background-color: #73A2BF;
    float: left;
    border-radius: 10px;
    padding-bottom: 40px;
    

}

.post {
    padding: 20px;
    color: #ffffff
}

.destinos {
    margin: 20px;
}

h1 {
    color: #ffffff;
}

h2  {
    color: #023059;
    margin: 10px 10px 10px 0px;

}

h3 {
    color: #023059;
    margin: 10px 10px 10px 0px;
    padding: 20px;
}


.data-post {
    font-size: 0.8em;
    margin-bottom: 15px;
    display: block;
}

.barra-lateral {
    width: 400px;
    background-color: #73A2BF;
    float: right;
    border-radius: 10px;
    height: 638.5px;
    color: #ffffff;
    
}

.footer{
    clear: both;
    background-color: #5D7CA6;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.footer p{
    color: white;
    text-align: center;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px

}

.grid-item {
    padding: 10px;
}



